nav{
    flex: 1;
    height: var(--topbar-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    box-shadow: var(--shadow-md);
    padding: 0 20px;
    background: var(--bg);

    .toggle-button{
        width: 40px;
        height: 40px;
        border-radius: var(--r-md);
        background: var(--bg);
        color:var(--text);
        font-size: var(--fs-md);
        font-weight: var(--fw-bold);
        box-shadow: var(--shadow-sm);
        border:none;
        cursor: pointer;
    }
}